# =========================
# NGS DATA FILES
# =========================
data/
results/
logs/

# FASTQ files
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Alignment files
*.bam
*.sam
*.bai
*.crai

# Variant files
*.vcf
*.vcf.gz
*.tbi
*.idx

# =========================
# QC OUTPUTS
# =========================
fastqc/
multiqc_report.html
multiqc_data/

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp
*.log

# =========================
# CONDA / ENV
# =========================
.env
*.conda
.conda/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# keep only final reports
!reports/*.html
!reports/*.pdf
!reports/*.png
# SNakemake cache
# =========================
.snakemake/
